.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: $mainFont;
}

h1,
h2,
h3,
h4,
h5,
footer p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit; text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img{
    width: 85%;
    height: auto;
    display: block;
    margin: 0;
    background-position: contain;
    border: 2px solid $fontColour;
}

h2 {
    font-size: 4.5rem;
}

legend {
    font-size: 5rem;
    padding-bottom: 35px;
}

label {
    font-size: 3.2rem;
    line-height: 5rem;
}

input {
    border: none;
}

.flexBox {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter,
.reload {
    background-color: $extraColour;
    color: $fontColour;
    padding: 15px;
    font-size: 2rem;
}



.radio {
    align-items: flex-start;
}

.hide {
    display: none;
}

button:hover,
button:focus,
.enter:hover,
.enter:focus {
    background-color: $sectionsColour;
}

.reload:hover,
.reload:focus {
    background-color: $headerColour;
    color: $secondaryFontColour;
}