header {
    height: 100vh;
    background-color: $headerColour;
    padding-top: 250px;
    & p {
        position: absolute;
        bottom: 200px;
    }
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.enter {
    position: absolute;  
}


