header {
    height: 100vh;
    background-color: $headerColour;
    padding-top: 150px;
    & p {
        margin-top: 50px;
    }
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.enter { 
    margin-top: 100px;
}



