section {
    background-color: $sectionsColour;
    height: 100vh;
}

section:nth-of-type(2n) {
    background-color: $accentColour;
}

.q1,
.q2,
.q3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

legend {
    font-size: 5rem;
}

label {
    font-size: 3.2rem;
    line-height: 3.8rem;
}

.goButton .flexColumn {
    height: 100%;
    justify-content: center;
}

button {
    height: 100px;
    width: 400px;
    font-size: 3rem;
    font-family: $mainFont;
    padding: 20px;
    border-bottom: 4px;
}

h2 {
    font-size: 4.5rem;
}

.reload {
    justify-content: flex-end;
}

.movieInfo {
    padding-top: 50px;
    font-size: 3.5rem;
    width: 50%;
}

.imageBox {
    width: 50%;
}

.title {
    font-size: 5rem;
}

.overview {
    margin-bottom: 50px;
}