@media (max-width: 768px) {
    .mediaColumn {
        flex-direction: column;
        align-items: center;
    }

    .movieInfo {
        width: 75%;
    }

    legend {
        font-size: 3.5rem;
    }

    label {
        font-size: 2.6rem;
    }
}