// Colour variables
$headerColour: #e8e8e8;
$sectionsColour: #f05454;
$accentColour: #30475e;
$extraColour: #222831;
$fontColour: white;
$secondaryFontColour: black;


// Font variables
$mainFont: 'Goldman', cursive;